PORT=5000
JWT_SECRET=your_secret_key_here

DB_HOST=your_mysql_host
DB_PORT=3306
DB_USER=your_mysql_user
DB_PASSWORD=your_mysql_password
DB_NAME=speaks_app

EMAIL_USER=yourgmail@gmail.com
EMAIL_PASS=your_16_char_app_password
CONTACT_RECEIVER_EMAIL=Speaksoncloud@gmail.com
GOOGLE_CLIENT_ID=771623416822-ihbratkahjbhpfqgnp5f7rho5u8g74rm.apps.googleusercontent.com

FRONTEND_URL=https://speaklegit.vercel.app
VITE_API_URL=https://your-backend-url.onrender.com